//$visual-grid: true;

// @import url(http://fonts.googleapis.com/css?family=Raleway);

@import 'bourbon';
@import 'neat';

$error: #ce0000;
$light: #ffffff;

body {
    @include background(url("images/cork.png") left repeat);
    font-family: 'Raleway', $lucida-grande;
}

header {
    @include outer-container;
}

section {
    @include outer-container;
}

.erreur {
    border-radius: 5px;
    background: $error;
    color: $light;
    text-align: center;
    @include pad(5px 10px);

    .action {
        @include button(pill, $light);
    }
}

footer {
    @include outer-container;
    .a-propos {
        @include span-columns(4);
    }
    .suggestions {
        @include span-columns(8);
        label {
            @include span-columns(2 of 8);
            text-align: right;
        }
        #{$all-text-inputs}, textarea {
            @include span-columns(5 of 8);
            @include omega();
        }
        [type=submit] {
            @include button();
            @include span-columns(3 of 8);
            @include shift(3 of 8);
        }
    }
}